// fonts
$default-fonts: Arial, sans-serif

+font('Calibri Light', 'subset-Calibri-Light')
+font('Calibri', 'subset-Calibri')
+font('Calibri Bold', 'subset-Calibri-Bold')

=calibri-l
	font-family: 'Calibri Light', $default-fonts
=calibri
	font-family: 'Calibri', $default-fonts
=calibri-b
	font-family: 'Calibri Bold', $default-fonts
=sans
	font-family: 'PT Sans', $default-fonts
	font-weight: 400
=sans-b
	font-family: 'PT Sans', $default-fonts
	font-weight: 700

// colors
$red: #d2252b
$grey: #41464c
$dark: #20201e
$light: #f1f0ef
$white: #ffffff

/* ==========================================================================
	 Main Styles
	 ========================================================================== */
a:hover, a:focus
	text-decoration: none
a
	color: inherit
	text-decoration: none
svg
	width: 100%
	height: 100%
.is-hidden
	display: none
.row
	+pie-clearfix
// *
// 	+selection
// 		color: #fff
// 		background-color: $red
body
	min-width: 1000px
	+calibri
	font-size: 16px
	color: #343c44
	line-height: 1.375
	background-color: #ffffff
.wrapper
	overflow: hidden
	margin: 0 auto
	min-height: 100%
	padding-bottom: 40px
.wrap
	+container
	transition: all 0.3s
/* ==========================================================================
	 Header
	 ========================================================================== */
.header
	&__btn
		margin-bottom: 10px
		width: 100%
		height: 40px
		font-size: 16px
		color: #ffffff
		line-height: 40px
		text-align: center
		border-radius: 6px
		background-color: transparent
		&_red
			background-color: $red
		&_grey
			background-color: #40403e
	&-top
		background-color: #40403e
		+calibri
		font-size: 14px
		color: $light
		+pie-clearfix
	&-links
		float: right
		padding-left: +gutter()
		padding-right: +gutter()
		+pie-clearfix
		&__item
			float: left
			padding: 5px
			background-color: $dark
			& + &
				border-left: 1px dotted $light
		&__link
			text-decoration: underline
			&:hover
				text-decoration: underline
	&-mid
		padding-top: 50px
		padding-bottom: 50px
		+calibri-l
		font-size: 16px
		background-color: $light
		+pie-clearfix
		&__col
			+span(3)
.nav
	float: left
	padding-left: +gutter()
	padding-right: +gutter()
	+pie-clearfix
	&__item
		float: left
		& + &
			margin-left: 15px
	&__link
		display: block
		padding-top: 5px
		padding-bottom: 5px
		&:hover,
		&.is-active
			text-decoration: underline
.logo
	position: relative
	top: -5px
	&__link
		overflow: hidden
		display: block
		width: auto
		height: 120px
		text-indent: -9999px
		font-family: "Lucida Console", Monaco, monospace
		font-size: 16px
		font-weight: bold
		text-transform: uppercase
		text-align: center
		background: url('../img/logo.png') center center no-repeat
		background-size: 100% auto
.location
	color: $light
	&__text
		margin-top: 10px
		margin-bottom: 10px
		font-family: $default-fonts
		font-size: 14px
		color: lighten($dark,30)
	&__link
		position: relative
		display: inline-block
		color: #009fe0
		letter-spacing: -0.03em
		&:after
			content: ''
			position: absolute
			left: 0
			right: 0
			bottom: 1px
			height: 1px
			border-top: 1px dotted #009fe0
	&__country
		display: inline-block
		padding: 2px 10px
		background-color: $dark
	.selectric
		border: none
		background-color: transparent
		.label
			position: relative
			margin: 0
			padding-top: 2px
			height: auto
			line-height: 1.375
			font-size: inherit
			color: $light
			&:after
				content: ''
				position: absolute
				left: 0
				right: 0
				bottom: 1px
				height: 1px
				border-top: 1px dotted $light
		.button
			display: none
		&-wrapper
			display: inline-block
			vertical-align: middle
	.selectric-open
		.selectric-items
			min-width: 120px
	.selectric-items
		margin-top: 1px
		border-color: lighten($dark,30)
		li
			padding: 1px 8px
			color: $light
			background-color: $dark
			&.selected
				color: $light
				background-color: lighten($dark,30)
.header-contacts
	&__phone
		display: inline-block
		margin-bottom: 9px
		font-size: 22px
		color: lighten($dark,30)
	&__mail
		position: relative
		display: inline-block
		font-size: 14px
		color: #009fe0
		&:after
			content: ''
			position: absolute
			left: 0
			right: 0
			bottom: 1px
			height: 1px
			border-top: 1px dotted #009fe0
.header-bot
	background-color: $dark
	&-links
		+span(full)
		+pie-clearfix
		&__item
			+span(4)
			color: $light
			text-align: center
			border-left: 1px dotted $light
			transition: all 0.3s
			&:last-child
				border-right: 1px dotted $light
			&:hover
				color: $dark
				background-color: $light
				transition: all 0.3s
		&__link
			display: block
			padding-top: 3px
			padding-bottom: 3px

/* ==========================================================================
	 Footer
	 ========================================================================== */
.footer
	margin-top: -40px
	height: 40px
/* ==========================================================================
	 Main
	 ========================================================================== */
.title
	margin-bottom: 50px
	+calibri-b
	font-size: 36px
	color: $dark
	line-height: 1
	font-weight: normal
	text-transform: uppercase
	text-align: center
	+span(full)
.section
	padding-top: 50px
	padding-bottom: 50px
.section_1
	background: url('../img/backgrounds/bg-1.jpg')
	+cover
	.title
		font-size: 40px
		color: $white
		text-align: left
.form
	+span(9)
	+pre(3)
	&-wrap
		padding-top: 25px
		padding-bottom: 25px
		background: $light url('../img/backgrounds/bg-2.png') -100px 0 no-repeat
		background-size: auto 120%
		border-radius: 10px
		+pre(gutter())
		+post(gutter())
		+pie-clearfix
	&-title
		margin-bottom: 25px
		+sans
		font-size: 18px
		color: #1e242a
		line-height: 1
		+span(9)
		+pre(3)
		&_mod
			color: $red
			font-weight: bold
	&__field
		position: relative
		+span(3 of 9 no-gutters)
		+suffix(gutter())
		.icon
			position: absolute
			left: 15px
			top: 15px
			&.icon-phone
				top: 14px
	&__input
		width: 100%
		padding-left: 40px
		padding-right: 10px
		height: 44px
		+sans
		font-size: inherit
		color: darken(#c4c5c7,30)
		line-height: 44px
		border: 3px solid #dcdede
		background-color: #ffffff
		border-radius: 6px
		+placeholder-color(#c4c5c7)
	&__submit
		position: relative
		top: 3px
		position: relative
		width: calc(100% - 6px)
		height: 38px
		+sans-b
		font-size: inherit
		color: #ffffff
		line-height: 38px
		text-transform: uppercase
		background-color: #dd2530
		box-shadow: 0 0 0 3px #dcdede
		border-radius: 4px
		border-bottom: 2px solid #a71e22
		text-shadow: -1px -1px 1px rgba(0,0,0,.3)
		transition: all 0.3s
		&:before
			content: ''
			position: absolute
			left: 2px
			right: 2px
			bottom: 0
			height: 1px
			background-color: #d9453a
		&:hover
			background-color: darken(#dd2530,5)
			transition: all 0.3s
.section_2
	background: url('../img/backgrounds/bg-3.png') 0 0 repeat
.description
	+pie-clearfix
	&__col
		+span(6)
	&__title
		+calibri-b
		font-size: 24px
		line-height: 28px

/* ==========================================================================
	 Other Styles
	 ========================================================================== */

