block footToggle
footer.footer
	.wrap
		.footer__col
			span.footer__copyright &copy; 2016 ООО «Название». Все права защищены
		.footer__col
			ul.socials
				li.socials__item
					a(href='javascript: void(0)').socials__link
						+icon('twitter')
				li.socials__item
					a(href='javascript: void(0)').socials__link
						+icon('facebook')
				li.socials__item
					a(href='javascript: void(0)').socials__link
						+icon('vkontakte')
				li.socials__item
					a(href='javascript: void(0)').socials__link
						+icon('linkedin')
		.footer__col
			.author
				span.author__text Создано в
				a(href='javascript: void(0)').author__link
					img(src='img/logo-2.png' title='logo').author__logo
