extend includes/_layout
block title
	title Technology
block content
	// begin section_1
	section.section.section_1
		.wrap
			.row
				h2.title.
					Перевод жилых помещений в нежилой фонд от 3 месяцев, без посредников и переплат

			.form-wrap
				p.form-title <span class="form-title_mod">Заказать бесплатную консультацию</span> нашего специалиста

				// begin form
				form(action='#').form
					.form__field
						label(for='formUser')
							i.icon.icon-user
						input(type='text' placeholder='Ваше имя' id='formUser').form__input
					.form__field
						label(for='formPhone')
							i.icon.icon-phone
						input(type='text' placeholder='Ваш телефон' id='formPhone').form__input
					.form__field
						button(type='submit').form__submit Отправить
				// end form
	// end section_1

	// begin section_2
	section.section.section_2
		.wrap
			// begin description
			.description
				.description__col
					h3.description__title.
						Перевод жилого помещения в нежилое является очень востребованным:
					p.description__text.
						Экономическая выгода от использования коммерческого помещения может быть значительно выше, чем от использования квартиры той же площади. При этом не всегда разрешающие органы дают согласие собственникам изменить режим принадлежащего им помещения. Кроме того, уже на этапе перевода жилого помещения в нежилое придется взаимодействовать не только с властями, но и с соседями, которые формально могут не согласовать необходимую перепланировку помещения, что фактически делает невозможным перевод помещения в разряд нежилых со всеми вытекающими последствиями
				.description__col
					h3.description__title.
						Требования для перевода жилого объекта в нежилой объект недвижимости:
					ul.description__list
						li.description__item
							p.
								Права на помещение не должны принадлежать другим лицам.
						li.description__item
							p.
								Помещение не должно находится в аресте, залоге или под определенными ограничениями.
						li.description__item
							p.
								В помещение не должны быть зарегистрированы и проживать другие лица.
						li.description__item
							p.
								Помещение должно иметь отдельный вход, независимый от жилой части дома. Если такого входа нет - потребуется его сделать.
						li.description__item
							p.
								Строение в котором находится помещение не должно быть в аварийном состоянии или подлежать сносу.
			// end description

			.row
				h2.title Почему стоит выбрать
					span.title__in  нашу компанию
			.selection
				.selection__item
					.selection__hexagon
						.selection__hexagon-inner
							.selection__hexagon-content
					p.selection__desc.
						работаем с 2004 года
				.selection__item
					.selection__hexagon
						.selection__hexagon-inner
							.selection__hexagon-content
					p.selection__desc.
						переведено из жилых<br> в нежилые
				.selection__item
					.selection__hexagon
						.selection__hexagon-inner
							.selection__hexagon-content
					p.selection__desc.
						сотрудников в штате<br> компании
				.selection__item
					.selection__hexagon
						.selection__hexagon-inner
							.selection__hexagon-content
					p.selection__desc.
						прописана в договоре
	// end section_2

	// begin section_3
	section.section.section_3
		.wrap
			.five
				.five__col
					h3.five__title 5 проблем <span class="five__title_mod">при выборе компании</span>
					ul.five__list
						li.five__item
							p.five__desc.
								НЕКВАЛИФИЦИРОВАННЫЕ СПЕЦИАЛИСТЫ
							p.five__text.
								Во многих компаниях в штате отсутствуют опытные практикующие юристы. Те сотрудники, которые будут решать вашу задачу просто не будут обладать необходимыми знаниями и опытом
						li.five__item
							p.five__desc.
								ОТСУТСТВИЕ ГАРАНТИИ РЕЗУЛЬТАТОВ
							p.five__text.
								Вам только на словах пообещают решение ваших вопросов, на деле в договоре большинство компаний никак не прописывают свою ответственность за достижение результата
						li.five__item
							p.five__desc.
								СОКРЫТИЕ ДОПОЛНИТЕЛЬНЫХ ПЛАТЕЖЕЙ
							p.five__text.
								Да, вам предложат услугу по заманчивой низкой цене. Но по факту, за все необходимые дополнительные опции придется доплачивать по ходу работы и конечная стоимость услуги получится значительно выше заявленной
						li.five__item
							p.five__desc.
								СРЫВ СРОКОВ
							p.five__text.
								В бизнесе все решает скорость решения вопросов и соблюдение сроков, многие компании конкуренты привлекут вас оптимистичным прогнозом решения вопроса, но на деле будут "кормить завтраками"
						li.five__item
							p.five__desc.
								ОТКАЗ ОТ СЛОЖНЫХ ПРОЕКТОВ
							p.five__text.
								Ваша задача может быть сложной и нестандартной, поэтому компании без опыта и квалификации просто откажут вам в помощи.

				.five__col
					.row
						.five__el 01
					.row
						.five__el 02
					.row
						.five__el 03
					.row
						.five__el 04
					.row
						.five__el 05
				.five__col
					h3.five__title 5 решений <span class="five__title_mod">от “технологии управления”</span>
					ul.five__list
						li.five__item
							p.five__desc.
								12 ЛЕТ НА РЫНКЕ ДАННЫХ УСЛУГ;
							p.five__text.
								У нас в штате работает более 110 сотрудников. каждый из них за годы работы получил колоссальный опыт в разных отраслях права. Поэтому вы можете положиться на наши знания и опыт.
						li.five__item
							p.five__desc.
								ГАРАНТИРУЕМ ЗАВЕРШЕНИЕ СДЕЛКИ;
							p.five__text.
								Наша ответственность перед Вами закрепляется в договоре. Мы работаем на результат
						li.five__item
							p.five__desc.
								НИКАКИХ ДОПОЛНИТЕЛЬНЫХ ПЛАТЕЖЕЙ;
							p.five__text.
								При оказании юр. услуг мы используем простую «прозрачную» систему оплаты. Заключая договор, клиент точно знает, за что он платит гонорар и в каком порядке. Отсутствие в договоре двусмысленных условий исключает какие-либо вопросы со стороны клиента.
						li.five__item
							p.five__desc.
								ТОЧНОЕ СОБЛЮДЕНИЕ СРОКОВ;
							p.five__text.
								Мы решим ваш вопрос точно в срок, указанный в договоре! И ни днем позже!
						li.five__item
							p.five__desc.
								РЕШАЕМ ЗАДАЧИ ЛЮБОЙ СЛОЖНОСТИ;
							p.five__text.
								В своей работе руководствуемся основными критериями «качество и профессионализм», поэтому к каждой проблемной ситуации мы подходим индивидуально и предлагаем пути решения именно для Вас.
	// end section_3
