extend includes/_layout
block title
	title Technology
block content
	// begin section_1
	section.section.section_1
		.wrap
			.row
				h2.title.
					Перевод жилых помещений в нежилой фонд от 3 месяцев, без посредников и переплат

			.form-wrap
				p.form-title <span class="form-title_mod">Заказать бесплатную консультацию</span> нашего специалиста

				// begin form
				form(action='#').form
					.form__field
						label(for='formUser')
							.icon.icon-user
						input(type='text' placeholder='Ваше имя' id='formUser').form__input
					.form__field
						label(for='formPhone')
							.icon.icon-phone
						input(type='text' placeholder='Ваш телефон' id='formPhone').form__input
					.form__field
						button(type='submit').form__submit Отправить
				// end form
	// end section_1

	// begin section_2
	section.section.section_2
		.wrap
			// begin description
			.description
				.description__col
					h3.description__title.
						Перевод жилого помещения в нежилое является очень востребованным:
					p.description__text
						Экономическая выгода от использования коммерческого помещения может быть значительно выше, чем от использования квартиры той же площади. При этом не всегда разрешающие органы дают согласие собственникам изменить режим принадлежащего им помещения. Кроме того, уже на этапе перевода жилого помещения в нежилое придется взаимодействовать не только с властями, но и с соседями, которые формально могут не согласовать необходимую перепланировку помещения, что фактически делает невозможным перевод помещения в разряд нежилых со всеми вытекающими последствиями
				.description__col
					.description_title.
						Требования для перевода жилого объекта в нежилой объект недвижимости:
					ul.description__list
						li.description__item
							p.
								Права на помещение не должны принадлежать другим лицам.
							p.
								Помещение не должно находится в аресте, залоге или под определенными ограничениями.
							p.
								В помещение не должны быть зарегистрированы и проживать другие лица.
							p.
								Помещение должно иметь отдельный вход, независимый от жилой части дома. Если такого входа нет - потребуется его сделать.
							p.
								Строение в котором находится помещение не должно быть в аварийном состоянии или подлежать сносу.
			// end description
	// end section_2
