extend includes/_layout
block title
	title Technology
block content
	// begin section_1
	section.section.section_1
		.wrap
			.row
				h2.title.
					Перевод жилых помещений в нежилой фонд от 3 месяцев, без посредников и переплат

			.form-wrap
				p.form-title <span class="form-title_mod">Заказать бесплатную консультацию</span> нашего специалиста

				// begin form
				form(action='#').form
					.form__field
						label(for='formUser')
							i.icon.icon-user
						input(type='text' placeholder='Ваше имя' id='formUser').form__input
					.form__field
						label(for='formPhone')
							i.icon.icon-phone
						input(type='text' placeholder='Ваш телефон' id='formPhone').form__input
					.form__field
						button(type='submit').form__submit Отправить
				// end form
	// end section_1

	// begin section_2
	section.section.section_2
		.wrap
			// begin description
			.description
				.description__col
					h3.description__title.
						Перевод жилого помещения в нежилое является очень востребованным:
					p.description__text.
						Экономическая выгода от использования коммерческого помещения может быть значительно выше, чем от использования квартиры той же площади. При этом не всегда разрешающие органы дают согласие собственникам изменить режим принадлежащего им помещения. Кроме того, уже на этапе перевода жилого помещения в нежилое придется взаимодействовать не только с властями, но и с соседями, которые формально могут не согласовать необходимую перепланировку помещения, что фактически делает невозможным перевод помещения в разряд нежилых со всеми вытекающими последствиями
				.description__col
					h3.description__title.
						Требования для перевода жилого объекта в нежилой объект недвижимости:
					ul.description__list
						li.description__item
							p.
								Права на помещение не должны принадлежать другим лицам.
						li.description__item
							p.
								Помещение не должно находится в аресте, залоге или под определенными ограничениями.
						li.description__item
							p.
								В помещение не должны быть зарегистрированы и проживать другие лица.
						li.description__item
							p.
								Помещение должно иметь отдельный вход, независимый от жилой части дома. Если такого входа нет - потребуется его сделать.
						li.description__item
							p.
								Строение в котором находится помещение не должно быть в аварийном состоянии или подлежать сносу.
			// end description

			.row
				h2.title Почему стоит выбрать
					span.title__in  нашу компанию
			.selection
				.selection__item
					.selection__hexagon
						.selection__hexagon-inner
							.selection__hexagon-content
					p.selection__desc.
						работаем с 2004 года
				.selection__item
					.selection__hexagon
						.selection__hexagon-inner
							.selection__hexagon-content
					p.selection__desc.
						переведено из жилых<br> в нежилые
				.selection__item
					.selection__hexagon
						.selection__hexagon-inner
							.selection__hexagon-content
					p.selection__desc.
						сотрудников в штате<br> компании
				.selection__item
					.selection__hexagon
						.selection__hexagon-inner
							.selection__hexagon-content
					p.selection__desc.
						прописана в договоре
	// end section_2

	// begin section_3
	section.section.section_3
		.wrap
			.five
				.five__col
					h3.five__title 5 проблем <span class="five__title_mod">при выборе компании</span>
					ul.five__list
						li.five__item
							p.five__desc.
								НЕКВАЛИФИЦИРОВАННЫЕ СПЕЦИАЛИСТЫ
							p.five__text.
								Во многих компаниях в штате отсутствуют опытные практикующие юристы. Те сотрудники, которые будут решать вашу задачу просто не будут обладать необходимыми знаниями и опытом
						li.five__item
							p.five__desc.
								ОТСУТСТВИЕ ГАРАНТИИ РЕЗУЛЬТАТОВ
							p.five__text.
								Вам только на словах пообещают решение ваших вопросов, на деле в договоре большинство компаний никак не прописывают свою ответственность за достижение результата
						li.five__item
							p.five__desc.
								СОКРЫТИЕ ДОПОЛНИТЕЛЬНЫХ ПЛАТЕЖЕЙ
							p.five__text.
								Да, вам предложат услугу по заманчивой низкой цене. Но по факту, за все необходимые дополнительные опции придется доплачивать по ходу работы и конечная стоимость услуги получится значительно выше заявленной
						li.five__item
							p.five__desc.
								СРЫВ СРОКОВ
							p.five__text.
								В бизнесе все решает скорость решения вопросов и соблюдение сроков, многие компании конкуренты привлекут вас оптимистичным прогнозом решения вопроса, но на деле будут "кормить завтраками"
						li.five__item
							p.five__desc.
								ОТКАЗ ОТ СЛОЖНЫХ ПРОЕКТОВ
							p.five__text.
								Ваша задача может быть сложной и нестандартной, поэтому компании без опыта и квалификации просто откажут вам в помощи.

				.five__col
					.row
						.five__el 01
					.row
						.five__el 02
					.row
						.five__el 03
					.row
						.five__el 04
					.row
						.five__el 05
				.five__col
					h3.five__title 5 решений <span class="five__title_mod">от “технологии управления”</span>
					ul.five__list
						li.five__item
							p.five__desc.
								12 ЛЕТ НА РЫНКЕ ДАННЫХ УСЛУГ;
							p.five__text.
								У нас в штате работает более 110 сотрудников. каждый из них за годы работы получил колоссальный опыт в разных отраслях права. Поэтому вы можете положиться на наши знания и опыт.
						li.five__item
							p.five__desc.
								ГАРАНТИРУЕМ ЗАВЕРШЕНИЕ СДЕЛКИ;
							p.five__text.
								Наша ответственность перед Вами закрепляется в договоре. Мы работаем на результат
						li.five__item
							p.five__desc.
								НИКАКИХ ДОПОЛНИТЕЛЬНЫХ ПЛАТЕЖЕЙ;
							p.five__text.
								При оказании юр. услуг мы используем простую «прозрачную» систему оплаты. Заключая договор, клиент точно знает, за что он платит гонорар и в каком порядке. Отсутствие в договоре двусмысленных условий исключает какие-либо вопросы со стороны клиента.
						li.five__item
							p.five__desc.
								ТОЧНОЕ СОБЛЮДЕНИЕ СРОКОВ;
							p.five__text.
								Мы решим ваш вопрос точно в срок, указанный в договоре! И ни днем позже!
						li.five__item
							p.five__desc.
								РЕШАЕМ ЗАДАЧИ ЛЮБОЙ СЛОЖНОСТИ;
							p.five__text.
								В своей работе руководствуемся основными критериями «качество и профессионализм», поэтому к каждой проблемной ситуации мы подходим индивидуально и предлагаем пути решения именно для Вас.
	// end section_3

	// begin section_4
	section.section.section_4
		.wrap
			.row
				h2.title Наши услуги
			ul.services
				li.services__item
					.services__img
						.icon.icon-msg
					.services__content
						span.services__text.
							Юридическая консультация по всем проблемным
						span.services__text_mod.
							 и непонятным для обычного человека правовым вопросам
				li.services__item
					.services__img
						.icon.icon-doc
					.services__content
						span.services__text.
							Помощь в сборе необходимых документов,
						span.services__text_mod.
							 справок, проектов, технических заключений и согласований;
				li.services__item
					.services__img
						.icon.icon-copy
					.services__content
						span.services__text.
							Подготовку и оформление в установленном порядке пакета документов,
						span.services__text_mod.
							 необходимого для обращения в компетентные органы для получения распоряжения о переводе недвижимости в нежилой фонд;
				li.services__item
					.services__img
						.icon.icon-act
					.services__content
						span.services__text.
							Получение распоряжения и акта приемочной комиссии
						span.services__text_mod.
							 нежилого помещения после проведенной перепланировки, внесение изменений в сведения государственного кадастра недвижимости и получение свидетельства о государственной регистрации права, т.е. представление интересов, которое практически полностью освобождает клиента от участия в разрешении вопроса и походов по инстанциям.
	// end section_4

	// begin section_5
	section.section.section_5
		.wrap
			.form-wrap
				h3.form-title <span class="form-title_mod">Узнайте,</span> можете ли вы перевести ваш жилой объект в нежилой

				// begin form
				form(action='#').form
					.form__field
						label(for='formUser2')
							i.icon.icon-user
						input(type='text' placeholder='Ваше имя' id='formUser2').form__input
					.form__field
						label(for='formPhone2')
							i.icon.icon-phone
						input(type='text' placeholder='Ваш телефон' id='formPhone2').form__input
					.form__field
						button(type='submit').form__submit Отправить
				// end form
	// end section_5

	// begin section_6
	section.section.section_6
		.wrap
			.row
				h2.title Наши объекты
			ul.objects
				li.objects__item
					a(href='img/content/img-big_1.jpg' title='Магазин разливных напитков на ул. Ленинской д.168' data-fancybox-group='gallery').objects__el
						img(src='img/content/img-small_1.jpg' alt='img').objects__img
						.objects__overlay
							.icon.icon-loop
							.icon-hover.icon-loop-hover
					.objects__desc.
						Магазин разливных напитков на ул. Ленинской д.168
					.row
						button.objects__comment Отзыв клиента
				li.objects__item
					a(href='img/content/img-big_2.jpg' title='Магазин разливных напитков на ул. Ленинской д.168' data-fancybox-group='gallery').objects__el
						img(src='img/content/img-small_2.jpg' alt='img').objects__img
						.objects__overlay
							.icon.icon-loop
							.icon-hover.icon-loop-hover
					.objects__desc.
						Магазин разливных напитков на ул. Ленинской д.168
					.row
						button.objects__comment Отзыв клиента
				li.objects__item
					a(href='img/content/img-big_3.jpg' title='Магазин разливных напитков на ул. Ленинской д.168' data-fancybox-group='gallery').objects__el
						img(src='img/content/img-small_3.jpg' alt='img').objects__img
						.objects__overlay
							.icon.icon-loop
							.icon-hover.icon-loop-hover
					.objects__desc.
						Магазин разливных напитков на ул. Ленинской д.168
					.row
						button.objects__comment Отзыв клиента
				li.objects__item
					a(href='img/content/img-big_4.jpg' title='Магазин разливных напитков на ул. Ленинской д.168' data-fancybox-group='gallery').objects__el
						img(src='img/content/img-small_4.jpg' alt='img').objects__img
						.objects__overlay
							.icon.icon-loop
							.icon-hover.icon-loop-hover
					.objects__desc.
						Магазин разливных напитков на ул. Ленинской д.168
					.row
						button.objects__comment Отзыв клиента
				li.objects__item
					a(href='img/content/img-big_5.jpg' title='Магазин разливных напитков на ул. Ленинской д.168' data-fancybox-group='gallery').objects__el
						img(src='img/content/img-small_5.jpg' alt='img').objects__img
						.objects__overlay
							.icon.icon-loop
							.icon-hover.icon-loop-hover
					.objects__desc.
						Магазин разливных напитков на ул. Ленинской д.168
					.row
						button.objects__comment Отзыв клиента
				li.objects__item
					a(href='img/content/img-big_6.jpg' title='Магазин разливных напитков на ул. Ленинской д.168' data-fancybox-group='gallery').objects__el
						img(src='img/content/img-small_6.jpg' alt='img').objects__img
						.objects__overlay
							.icon.icon-loop
							.icon-hover.icon-loop-hover
					.objects__desc.
						Магазин разливных напитков на ул. Ленинской д.168
					.row
						button.objects__comment Отзыв клиента
	// end section_6

	// begin section_7
	section.section.section_7
		.wrap
			.row
				h2.title Стоимость и сроки
			.row
				// begin table-price
				.table-price
					.table-price__thead
						.table-price__row
							.table-price__td.is-active <i class="icon icon-arrow"></i> Название услуги
							.table-price__td <i class="icon icon-arrow"></i> Срок
							.table-price__td <i class="icon icon-arrow"></i> Цена
					.table-price__tbody
						.table-price__row
							.table-price__td Перевод помещений из жилых в нежилые под коммерческие нужды
							.table-price__td 4 месяца
							.table-price__td от 60000 рублей
						.table-price__row
							.table-price__td Перевод помещений из жилых в нежилые под коммерческие нужды
							.table-price__td 4 месяца
							.table-price__td от 60000 рублей
				// end table-price
	// end section_7

	// begin section_8
	section.section.section_8
		.wrap
			.row
				h2.title Наши эксперты
			.row
				// begin slider
				.slider
					.slider__item
						img(src='img/content/photo-1.png' alt='photo').slider__img
						.slider__name Зарифова Ирина Искандаровна
						.slider__desc юрист, стаж с 2002 года
					.slider__item
						img(src='img/content/photo-1.png' alt='photo').slider__img
						.slider__name Зарифова Ирина Искандаровна
						.slider__desc юрист, стаж с 2002 года
					.slider__item
						img(src='img/content/photo-1.png' alt='photo').slider__img
						.slider__name Зарифова Ирина Искандаровна
						.slider__desc юрист, стаж с 2002 года
					.slider__item
						img(src='img/content/photo-1.png' alt='photo').slider__img
						.slider__name Зарифова Ирина Искандаровна
						.slider__desc юрист, стаж с 2002 года
					.slider__item
						img(src='img/content/photo-1.png' alt='photo').slider__img
						.slider__name Зарифова Ирина Искандаровна
						.slider__desc юрист, стаж с 2002 года
					.slider__item
						img(src='img/content/photo-1.png' alt='photo').slider__img
						.slider__name Зарифова Ирина Искандаровна
						.slider__desc юрист, стаж с 2002 года
					.slider__item
						img(src='img/content/photo-1.png' alt='photo').slider__img
						.slider__name Зарифова Ирина Искандаровна
						.slider__desc юрист, стаж с 2002 года
					.slider__item
						img(src='img/content/photo-1.png' alt='photo').slider__img
						.slider__name Зарифова Ирина Искандаровна
						.slider__desc юрист, стаж с 2002 года
				// end slider
	// end section_8

	// begin section_9
	section.section.section_9
		.wrap
			.row
					h2.title Часто задаваемые вопросы
			.row
				// begin faq
				ul.faq
					li.faq__item
						.faq__question
							.faq__question-icon Вопрос:
							.faq__question-text.
								Организация хочет открыть магазин на первом этаже жилого многоквартирного дома. Вход в магазин будет находиться в том же подъезде, что и входы в квартиры граждан. Правомерно ли данное размещение магазина?
						.faq__question.faq__question_mod
							.faq__question-icon Ответ
							.faq__question-text.
								Организация хочет открыть магазин на первом этаже жилого многоквартирного дома. Вход в магазин будет находиться в том же подъезде, что и входы в квартиры граждан. Правомерно ли данное размещение магазина?
					li.faq__item
						.faq__question
							.faq__question-icon Вопрос:
							.faq__question-text.
								Организация хочет открыть магазин на первом этаже жилого многоквартирного дома. Вход в магазин будет находиться в том же подъезде, что и входы в квартиры граждан. Правомерно ли данное размещение магазина?
						.faq__question.faq__question_mod
							.faq__question-icon Ответ
							.faq__question-text.
								Организация хочет открыть магазин на первом этаже жилого многоквартирного дома. Вход в магазин будет находиться в том же подъезде, что и входы в квартиры граждан. Правомерно ли данное размещение магазина?
				// end faq
			.text-center
				button.more-btn Показать ещё
	// end section_9

	// begin section_10
	section.section.section_10
		.wrap
			.row
				h3.title Остались вопросы?
				h3.subtitle Задайте их нам, мы рады ответить Вам
			// begin contacts
			ul.contacts
				li.contacts__item
					a(href='tel:7-846-123-34-45').contacts__link
						i.icon.icon-1
						i.icon.icon_hover.icon-1-hover
						p.contacts__text
							span.contacts__text-in +7 (846) 123-34-45
				li.contacts__item
					a(href='javascript: void(0)').contacts__link
						i.icon.icon-2
						i.icon.icon_hover.icon-2-hover
						p.contacts__text
							span.contacts__text-in Закажите звонок
				li.contacts__item
					a(href='javascript: void(0)').contacts__link
						i.icon.icon-3
						i.icon.icon_hover.icon-3-hover
						p.contacts__text
							span.contacts__text-in Работаем Пн-Пт с 9:00 до 18:00
				li.contacts__item
					a(href='javascript: void(0)').contacts__link
						i.icon.icon-4
						i.icon.icon_hover.icon-4-hover
						p.contacts__text
							span.contacts__text-in Самара, Московское шоссе, д.3<br> офисы: 301, 302, 304, 309
				li.contacts__item
					a(href='mailto:grand-ocenka@mail.ru').contacts__link
						i.icon.icon-5
						i.icon.icon_hover.icon-5-hover
						p.contacts__text
							span.contacts__text-in grand-ocenka@mail.ru
			// end contacts
	// end section_10